
.trn-v-rates-stars {
    display: flex
}

.trn-v-rates-stars span {
    margin-right: 10px;
    display: inline-block
}

.trn-v-rates-stars__list {
    white-space: pre;
    width: 150px;
    display: flex
}

@media (max-width: 500px) {
    .trn-v-rates-stars__list {
        justify-content:end
    }
}

.trn-v-rates-stars__list i {
    background-image: url(/bitrix/components/trn/vote/templates/.default/images/fill-star.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 21px;
    padding: 0 7%;
    width: 15px;
    cursor: pointer
}

.trn-v-rates-stars__list.big i {
    height: 32px;
    width: 26px
}

.trn-v-rates-stars__list[data-rating="0"] i,
.trn-v-rates-stars__list[data-rating="1"] i:first-child~i,
.trn-v-rates-stars__list[data-rating="2"] i:nth-child(2)~i,
.trn-v-rates-stars__list[data-rating="3"] i:nth-child(3)~i,
.trn-v-rates-stars__list[data-rating="4"] i:nth-child(4)~i,
.trn-v-rates-stars__list[data-rating="5"] i:nth-child(5)~i {
    background-image: url(/bitrix/components/trn/vote/templates/.default/images/empty-star.svg)
}

.trn-v-rates-stars__list[data-rating=".5"] i:first-child {
    background-image: url(/bitrix/components/trn/vote/templates/.default/images/half-star.svg)
}

.trn-v-rates-stars__list[data-rating=".5"] i:first-child~i {
    background-image: url(/bitrix/components/trn/vote/templates/.default/images/empty-star.svg)
}

.trn-v-rates-stars__list[data-rating="1.5"] i:nth-child(2),
.trn-v-rates-stars__list[data-rating="2.5"] i:nth-child(3),
.trn-v-rates-stars__list[data-rating="3.5"] i:nth-child(4),
.trn-v-rates-stars__list[data-rating="4.5"] i:nth-child(5) {
    background-image: url(/bitrix/components/trn/vote/templates/.default/images/half-star.svg)
}

.trn-v-rates-stars__list[data-rating="1.5"] i:nth-child(2)~i,
.trn-v-rates-stars__list[data-rating="2.5"] i:nth-child(3)~i,
.trn-v-rates-stars__list[data-rating="3.5"] i:nth-child(4)~i,
.trn-v-rates-stars__list[data-rating="4.5"] i:nth-child(5)~i {
    background-image: url(/bitrix/components/trn/vote/templates/.default/images/empty-star.svg)
}
